@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Pangolin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Pangolin&display=swap');

body{
    margin-top:0vh;

}

.thanhcongcu{
    font-weight: bold;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    padding: 20px;
    background-color: rgba(255, 234, 200,0.9);
    z-index: 5;
    display: none;
}
.thanhcongcu span{
    margin-left: 30px;
}
.thanhcongcu span a{
    text-decoration: none;
    color:#beeddf;
    transition: color 0.2s ease-in;
}
.thanhcongcu span a:hover{
    color: #ffc435;
}

.image{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    perspective: 20px;
}
.daico{
    position: absolute;
    background-color: #beeddf   ;
    top: 498px;
    height: 70px;
    width: 100%;
    z-index: -1;

}
.item01{
    position: absolute;
    left: 88%;
    top: 174px;
    height: 350px;
    animation: cd-item01 2s linear;
    
}
@keyframes cd-item01 {
    0%{
        left:120%;
    }
    100%{
        left: 88%;
    }
}

.item02{
    position: absolute;
    height: 200px;
    left: 56%;
    top: 298px;
    animation: cd-item02 2s linear;
}
@keyframes cd-item02 {
    0%{
        left:120%;
    }
    100%{
        left: 56%;
    }
}
.item03{
    position: absolute;
    height: 380px;
    left: 67%;
    top: 188px;
}
.item04{
    position: absolute;
    height: 50px;
    top: 100px;
    left: 60%;
    animation: cd-item04 30s linear infinite;
}
@keyframes cd-item04 {
    0%{
        top: 100px;
    }
    25%{
        top: 80px;
    }
    75%{
        top: 120px;
    }
    100%{
        top: 100px;
    }
}
.item05{
    position: absolute;
    height: 30px;
    top: 130px;
    left: 53%;
    animation: cd-item05 30s linear infinite;
    z-index: 3;
}
@keyframes cd-item05 {
    0%{
        left: 53%;
    }
    25%{
        left:-20%;
    }
    75%{
        left: 120%;
    }
    100%{
        left: 53%;
    }
}
.ietm06{
    position: absolute;
    height: 30px;
    top: 100px;
    left: 73%;
    animation: cd-item06 30s linear infinite;
    animation-delay: 2s;

}
@keyframes cd-item06 {
    0%{
        left: 75%;
    }
    25%{
        left:102%;
    }
    75%{
        left: -20%;
    }
    100%{
        left: 73%;
    }
}
.item07{
    position: absolute;
    height: 100px;
    bottom: 70px;
    left: 20px;
}
/* .content{
    font-family: 'Pacifico', cursive;
    position: absolute;
    left: 10%;
    top: 20%;
}
.content01 {
    font-size: 40px;
}
.content02 {
    font-size: 40px;
}
.content b{
    font-size: 50px;
    color: #ffc435;
    margin-left: 30px;
}
.test{
    margin-top: 700px;
}*/
.content03{
    font-family: 'Pacifico', cursive;
    font-size: 15px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: yellow;
    text-align: center;
    margin-top: -40px;
} 
.table01{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.daico01{
    position: absolute;
    background-color: #beeddf   ;
    height: 70px;
    width: 100%;
    bottom: 0px;
    z-index: -1;

}
.item08{
    position: absolute;
    height: 30px;
    top: 120px;
    right: 10%;
    animation: cd-item08 30s linear infinite;
    z-index: -1;
}
@keyframes cd-item08{
    0%{
        right: 10%;
    }
    25%{
        right: 50%;
    }
    75%{
        right: -20%;
    }
    100%{
        right: 10%;
    }
}
.item09{
    position: absolute;
    height: 30px;
    top: 30px;
    left: 63%;
    animation: cd-item09 25s linear infinite;
    z-index: -1;
}
@keyframes cd-item09 {
    0%{
        left: 63%;
    }
    25%{
        left: 120%;
    }
    75%{
        left: 20%;
    }
    100%{
        left: 63%;
    }
    
}

.item10{
    position: absolute;
    height: 30px;
    top: 150px;
    left: 43%;
    animation: cd-item10 35s linear infinite;
    z-index: -1;
}
@keyframes cd-item10 {
    0%{
        left: 43%;
    }
    25%{
        left: -10%;
    }
    75%{
        left: 80%;
    }
    100%{
        left: 43%;
    }
}
.item11{
    position: absolute;
    height: 30px;
    top: 200px;
    left: -2%;
    z-index: -1;
    animation: cd-item11 30s linear infinite;
}
@keyframes cd-item11 {
    0%{
        left: -2%;
    }
    25%{
        left: 30%;
    }
    75%{
        left: -10%;
    }
    100%{
        left: -2%;
    }
}
.item12{
    position: absolute;
    height: 200px;
    right: 5px;
    bottom: 12.2%;
    animation: cd-item12 10s linear infinite;
    animation-delay:4s ;
    animation-direction: alternate;
    
}
@keyframes cd-item12{
    0%{
        bottom: 100%;
    }
    10%{
        bottom: 90%;
        transform: rotate(20deg);
    }
    30%{
        bottom: 70%;
        transform: rotate(-20deg);
    }
    50%{
        bottom: 50%;
        transform: rotate(20deg);
    }
    70%{
        bottom: 30%;
        transform: rotate(-20deg);
    }


} 
    

.chamhoi{
    position: absolute;
    height: 100px;
    left: 130px;
    bottom: 69px;
}
.item13{
    position: absolute;
    height: 100px;
    bottom: 70px;
    right: 200px;
    -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}
.text-heading{
    font-family: 'Pacifico', cursive;
    position: absolute;
    left: 0%;
    top: 5%;
    font-size: 50px;
    color: #ffc435;
    margin-left: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.mot{
    position: absolute;
    border-radius: 50px;
    top :30%;
    left: 20%;
    height:70px;
    width: 70px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    background-color: #ffc435;
}
.hai{
    position: absolute;
    border-radius: 50px;
    top :45%;
    left: 45%;
    height:70px;
    width: 70px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    background-color: #ffc435;
}
.ba{
    position: absolute;
    border-radius: 50px;
    top :20%;
    left: 70%;
    height:70px;
    width: 70px;
    font-size: 30px;
    justify-content: center;
    text-align: center;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    background-color: #ffc435;
}



.wrapper {
    position: absolute;
    left: 10%;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    
  }
  .wrapper .static-txt {
    color: #fff;
    font-size: 60px;
    line-height: 95px;
    font-weight: 600;
  }
.wrapper b{
    position: absolute;
    top: 90px;
}
  .dynamic-txt li {
    color:#ffc435;
    list-style: none;
    font-size: 50px;
    position: relative;
    top: 0;
    margin-left: 40px;
    animation: slide 8s steps(4) infinite;
    background:white;
  }
  
  @keyframes slide {
    100% {
      top: -750px;
    }
  }
  .wrapper .dynamic-txt {
    margin-left: 15px;
    height: 92px;
    line-height: 92px;
    overflow: hidden;
  }
  .dynamic-txt li span {
    position: relative;
  }
  .dynamic-txt li span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 110%;
    width: 100%;
    border-left: 2px solid #6abdb3;
    animation: typing 2s steps(12) infinite;
    background: rgb(255, 255, 255);
  }
  
  @keyframes typing {
    100% {
      left: 100%;
      margin: 0 -35px 0 35px;
    }}
    .text-chude{
        font-family: 'Pacifico', cursive;
    }
    .chude01{
        position: absolute;
        color: #ffc435;
        left: 17%;
        top: 43%;
        font-size: 30px;
    }
    .chude11{
        position: absolute;
        color: black;
        left: 17%;
        top: 53%;
        font-size: 15px;
    }
    .chude02{
        position: absolute;
        color: #ffc435;
        left: 34%;
        top: 35%;
        font-size: 30px;
    }
    .chude22{
        position: absolute;
        color: black;
        left: 37%;
        top: 60%;
        font-size: 15px;
    }
    .chude03{
        position: absolute;
        color: #ffc435;
        left: 69%;
        top: 33%;
        font-size: 30px;
    }
    .chude33{
        position: absolute;
        color: black;
        left: 67%;
        top: 43%;
        font-size: 15px;
    }


.slider_img input{
    display: none;
}
.lableslider{
    position: fixed;
    top: 20px;
    margin-left: 36%;
   z-index: 6;
}
.lableslider label{
    position: relative;
    height: 45px;
    width: 45px;
    border-radius: 50px;
    background-color: #ffc435;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    top: 490px;
    margin-left: 20px;

}
.lableslider label p{
    margin-top: 7px;
    font-family:'Pacifico', cursive ;
}
.lableslider label:hover{
    background-color:black;
    color: #ffc435;
}
#img1:checked ~.image{
    top:0vh ;
    transition: all 1s ease-in-out;
}
#img2:checked ~.image{
    transition: all 1s ease-in-out;
    margin-top: -100vh;
}

#img3:checked ~.image{
    
    transition: all 1s ease-in-out;
    margin-top: -200vh;
}

#img4:checked ~.image{
    
    transition: all 1s ease-in-out;
    margin-top: -300vh;
}

#img5:checked ~.image{
    
    transition: all 1s ease-in-out;
    margin-top: -400vh;
}






.table02{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.item21{
    position: absolute;
    left: 2%;
    top: 164px;
    height: 350px;
    z-index: -2;
}
.buttom{
    position: absolute;
    height: 100px;
    width: 100px;
    right: 10%;
    top: 7%;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    border-radius: 50%;
    background-color: #ffc435;
    color: #ea6b49;
    justify-content: center;
    text-align: center;
}
.heading21{
    position: absolute;
    top: 25%;
    right: 10%;
    font-family: 'Pacifico', cursive;
    color:#ea6b49;
    font-size: 50px;
}
.item22{
    position: absolute;
    height: 100px;
    bottom: 70px;
    left: 27%;
}
.text21{
    position: absolute;
    font-size: 20px;
    top: 40%;
    font-weight: bold;
    color: #ffc435;
    font-family:'Pacifico', cursive ;
    right: 50%;
    
}
.text22{
    position: absolute;
    top: 48%;
    text-indent: 25px;
    font-family: 'Lobster', cursive;
    right: 25%;
    color: #ea6b49;
    
}
.text23{
    position: absolute;
    top: 68%;
    text-indent: 25px;
    font-family: 'Lobster', cursive;
    right: 23%;
    color: #ea6b49;

}
.item14{
    position: absolute;
    height: 30px;
    top: 120px;
    right: 10%;
    animation: cd-item14 20s linear infinite;
    animation-delay: 1s;
}
@keyframes cd-item14 {
    0%{
        right: 10%;
    }
    25%{
        right: 50%;
    }
    75%{
        right: -20%;
    }
    100%{
        right: 10%;
    }}
.item15{
    position: absolute;
    height: 30px;
    top: 30px;
    left: 63%;
    z-index: -1;
    animation: cd-item15 20s linear infinite;
    animation-delay: 1.5s;
}
@keyframes cd-item15 {
    0%{
        left: 63%;
    }
    25%{
        left: 23%;
    }
    75%{
        left: 83%;
    }
    100%{
        left: 63%;
    }}
.item16{
    position: absolute;
    height: 30px;
    top: 150px;
    left: 43%;
    z-index: -1;
    animation: cd-item16 20s linear infinite;
}
@keyframes cd-item16 {
    0%{
        left: 43%;
    }
    25%{
        left: 3%;
    }
    75%{
        left: 63%;
    }
    100%{
        left: 43%;
    }

}
.item17{
    position: absolute;
    height: 30px;
    top: 200px;
    left: -2%;
    animation: cd-item17 20s linear infinite;
}
@keyframes cd-item17 {
    0%{
        left: -2%;
    }
    25%{
        left: 20%;
    }
    75%{
        left:-10% ;
    }
    100%{
        left: -2%;
    }
}
.item18{
    position: absolute;
    height: 60px;
    bottom: 12.3%;
    right: -20%;
    animation: cd-item18 30s linear infinite;
}
@keyframes cd-item18 {
    0%{
        right: -20%;
    }

    100%{
        right: 120%;
    }

}

.table03{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.text30{
    position: absolute;
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-weight: bold;
    color: #ea6b49;
    top: 10%;
    left: 25%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.so02{
    position: absolute;
    top: 3%;
    left: 10%;
    height: 100px;
    width: 100px;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    border-radius: 50%;
    background-color: #ffc435;
    color: #ea6b49;
    justify-content: center;
    text-align: center;
}
.card_video{
    position: absolute;
    border: 3px solid #ea6b49;
    top: 30%;
    left: 5%;
    display: flex;
    width: 500px;
    border-radius: 5px;
    z-index: 2;
    background-color: #ecf2ff;
    overflow: hidden;
}
.video{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-right: 3px solid #ea6b49;
}
.title-video{
    text-align: center;
    font-weight: bold;
    margin-left: 100px;
    margin-top: 0px;
    font-size: 30px;
    font-family: 'Lobster', cursive;
    color: #ea6b49;
}
.noidung_video{
    margin-top: -15px;
    margin-left: 20px;
    font-family: 'Pangolin', cursive;
    color:#ffc435;
}
.dungluong_video{
    margin-left: 20px;
    font-family: 'Pangolin', cursive;
    color: #ffc435;

}
.nienkhoa_video{
    margin-left: 20px;
    font-family: 'Pangolin', cursive;
    color: #ffc435  ;
}

.next_video{
    position: absolute;
    font-family: 'Lobster', cursive;
    font-weight: bold;
    border-radius: 10px;
    margin-top: -5px;
    margin-left: 40%;
    height: 35px;
    width: 70px;
}
.next_video {
    font-family: inherit;
    font-size: 10px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
  }
  
.next_video span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
.next_video svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
.next_video:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
.next_video:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
.next_video:hover span {
    transform: translateX(5em);
  }
  
.next_video:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }

.card_image{
    position: absolute;
    border: 3px solid #ea6b49;
    top: 30%;
    right: 5%;
    display: flex;
    width: 500px;
    border-radius: 5px;
    z-index: 1;
    background-color: #ecf2ff;
}
.video_image{
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-right: 3px solid #ea6b49;
    opacity: 0;
}
.image01{
    position: absolute;
    height: 150px;
    z-index: 1;
    top: 28px;
    animation: cd-image01 10s linear infinite;
}
@keyframes cd-image01 {
    0%{
        left: 0px;
    }
    25%{
        left: 210px;
    }
    75%{
        left: -210px;
    }
    100%{
        left: 0px;
    }

}
.all_image{
    position: absolute;
    height: 205px;
    left: 54.5%;
    top: 30%;
    width: 205px;
    z-index: 1 ;
    overflow: hidden;
    border-right: 3px solid #ea6b49;
    padding: 0px 10px 0px 10px ;

}
.image02{
    position: absolute;
    height: 150px;
    z-index: 1;
    top: 28px;
    left: 210px;
    animation:  cd-image02 10s linear infinite;
}
@keyframes cd-image02 {
    0%{
        left: 210px;
    }
    25%{
        left: 420px;
    }
    75%{
        left: 0px;
    }
    100%{
        left: 210px;
    }

}
.image00{
    position: absolute;
    height: 150px;
    z-index: 1;
    top: 28px;
    left: -210px;
    animation: cd-image00 10s linear infinite;
}
@keyframes cd-image00 {
    0%{
        left: -210px;
    }
    25%{
        left: 0px;
    }
    75%{
        left: -420px;
    }
    100%{
        left: -210px;
    }

}
.item25{
    position: absolute;
    bottom: 10%;
    height: 130px;
    left: 34%;
}
.item26{
    position: absolute;
    height: 60px;
    bottom: 12.3%;
    right: -20%;
    z-index: 1;
    animation: cd-item26 30s linear infinite;
}
@keyframes cd-item26 {
    0%{
        right: -20%;
    }
    100%{
        right: 120%;
    }

}

.daico02{
    position: absolute;
    background-color: #beeddf   ;
    height: 70px;
    width: 100%;
    bottom: 0px;
    z-index: 0;
}

.table04{
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.so40{
    position: absolute;
    top: 2%;
    left: 15%;
    height: 80px;
    width: 80px;
    font-weight: bold;
    font-size: 60px;
    font-family: 'Lobster', cursive;
    border-radius: 50%;
    background-color: #ffc435;
    color: #ea6b49;
    justify-content: center;
    text-align: center;
}
.heading40{
    position: absolute;
    top: 7%;
    left: 24%;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    color: #ea6b49;
}
.frofile_thuan{
    position: absolute;
    height: 100px;
    width: 400px;
    display: flex;
    top: 20%;
    left: 2%;
}
.noidung-thuan{
    justify-content: center;
    margin-left: 10px;
    margin-top: 10px;
    color: black;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    
}
.noidung-thuan section{
    margin-top: 10px;
}
.sdt{
    text-decoration: none;
    color: #ea6b49;
}
.anh01{
    height: 100px;
    border: 2px solid #ea6b49;
    border-radius: 50%;
    left:5%;

}
.frofile_tramie{
    position: absolute;
    height: 100px;
    width: 400px;
    display: flex;
    top: 50%;
    left: 2%;
}
.frofile_tho{
    position: absolute;
    height: 100px;
    width: 400px;
    display: flex;
    top: 20%;
    left: 35%;
}
.frofile_bian{
    position: absolute;
    height: 100px;
    width: 400px;
    display: flex;
    top: 50%;
    left: 35%;
}
.cotngan{
    position: absolute;
    height: 385px;
    right: 30%;
    top: 20%;
}
.postscript{
    position: relative;
    left: 71%;
    top: 7%;
    
    width: 350px;
    height: 460px;    


}
.heading_clast{
    position: absolute;
    font-family: 'Lobster', cursive;
    font-size: 40px;
    font-weight: bold;
    color: #ea6b49;
    margin-left: 10%;

}
.text_clast{
    position: absolute;
    font-weight: bold;
    font-family: 'Pangolin', cursive;
    text-indent: 20px;
    top: 92px;
}
.image_clast{
    position: absolute;
    height: 200px;
    bottom: 10px;
    left: 50px;
    border-radius: 8px;
}
.item_clast{
    position: absolute;
    height: 30px;
    top: 70px;
    left: 43%;
    z-index: -1;
    animation: cd-item_clast 60s linear infinite;
}
@keyframes cd-item_clast {
    0%{
        left: 43%;
    }
    25%{
        left: 120%;
    }
    75%{
        left: 30%;
    }
    100%{
        left: 43%;
    }

}

